body {
  background-image: url(img/403441.gif);
  background-size: contain;
  color: white;
}
.blended_grid {
  display : block;
  width : 1400px;
  overflow : auto;
  margin : 30px auto 30px auto;
  border: 2px solid #ff3300;
}
header {
  background: rgba(0,255,255, 0.5);
  float: left;
  clear: none;
  height: 150px;
  width: 1400px;
  text-align: center;
}
header>h1,h2 {

}
.sideone {
  background: rgba(124,252,0, 0.5);
  float: left;
  clear: none;
  height: 600px;
  width: 400px;
}
.sidetwo {
  background: rgba(124,252,0, 0.5);
  float: left;
  clear: none;
  height: 600px;
  width: 1000px;
}
div>p, div>h3 {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}
section {
  margin: 0 auto;
  width: 200px;
}
footer {
 background: rgba(0,255,255, 0.5);
  float: left;
  clear: none;
  height: 150px;
  width: 1400px;
  text-align: center;
}
figure>img {
  width: 320px;
  height: 320px;
}
figcaption {
  text-align: center;
  border: 1px solid orange;
  background-color: black;
}
.ul {
  margin: 0 auto;
  width: 500px;

}
